#container {
    width: 800px; /* Correspond à la largeur du SVG */
    height: 600px; /* Correspond à la hauteur du SVG */
    position: relative; /* Pour positionner les éléments par-dessus le SVG */
  }
  
  #monPlan {
    width: 100%;
    height: 100%;
  }
  
  /* Style pour les points */
  .point {
    fill: red;
    r: 5;
  }
  
  /* Style pour les liens */
  .link {
    stroke: black;
    stroke-width: 2;
  }