html body {
    min-width: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.display {
    border: 1px solid black;
    border-radius: 10px;
}
.streamer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.playeur {
    display: flex;
}